#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &kp X	&kp X	&kp X	&kp X	&kp X	&kp X	    &kp A	&kp B	&kp C	&kp E	&kp F	&kp G
                &kp X	&kp X	&kp X	&kp X	&kp X	&kp X	    &kp M	&kp N	&kp O	&kp P	&kp Q	&kp R
                &kp X	&kp X	&kp X	&kp X	&kp X	&kp X	    &kp I	&kp J	&kp K	&kp L	&kp Y	&kp Z
                                        &kp X	&kp X	&kp X	    &kp EXCL	&kp AT	&kp POUND
            >;
        };
    };
 };